/* #hospitalList id */

.container-hos {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 35px;
}

#map {
    width: 50%;
    height: 500px;
}


#hospitalList {
    overflow-y: scroll;
    margin-bottom: 0%;
    height: 500px; 
    width: 48%; 
    background-color: #F4E0D6;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 6px #000

}

#hospitalList div {
    margin: 10px 0;
    padding: 5px;
    border: 1px solid #D9D9D9;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

#hospitalList div:hover {
    background-color: #FFDCC1;
}

.custom-marker {
    width: 15px; 
    height: 15px;
    background-color: red;
    border-radius: 50%; 
    border: 2px solid white; 
}
@media screen and (max-width: 1024px) {
    .container-hos {
        flex-direction: column;
        align-items: center;
    }

    #map {
        width: 100%;
    }

    #hospitalList {
        width: 100%;
        margin-top: 20px;
        height: auto;
    }
}