/* ------------------------------
   기본 스타일 설정
------------------------------ */

/* HTML 기본 설정 */
html {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: sans-serif;
	line-height: 1.4;
	font-size: 1em;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

/* 웹 폰트 */
@font-face {
	font-family: 'SUITE-Regular';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}

/* Body 설정 */
body {
	margin: 0;
	font-family: 'SUITE-Regular';
}

.logo__img {
	width: 80px;
	height: 55px;
}

/* ------------------------------
   Navbar 스타일
------------------------------ */

.container > .LogoImg {
	width: 10px;
}

/* 기본 Navbar 스타일 */
.navbar {
	background-color: #f4e0d6;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

/* Navbar 내부 요소 */
.navbar-brand,
.nav-link {
	font-weight: bold;
	color: black;
}

/* Navbar 토글러 */
.navbar-toggler-icon {
	background-color: black;
}

/* 반응형 Navbar 설정 */
@media (max-width: 991px) {
	.myLog {
		flex-direction: column;
		align-items: flex-start;
	}

	.navbar-nav.ms-auto {
		flex-direction: column;
		align-items: flex-start;
	}
}

/* 햄버거 아이콘 스타일 */
.navbar-toggler-icon {
	background-image: none;
	width: 18px;
	height: 1.5px;
	background-color: black;
	position: relative;
}

.navbar-toggler-icon::before,
.navbar-toggler-icon::after {
	content: '';
	position: absolute;
	left: 0;
	width: 100%;
	height: 1.5px;
	background-color: black;
}

.navbar-toggler-icon::before {
	top: -7px;
}
.navbar-toggler-icon::after {
	bottom: -7px;
}

/* ------------------------------
   버튼 및 컨테이너 스타일
------------------------------ */

/* 공통 버튼 스타일 */
.btn_my,
.btn_log {
	border: none;
	color: black;
	margin-top: 0;
	font-weight: bold;
}

/* 버튼 호버 스타일 */
.btn_my:hover,
.btn_log:hover {
	background-color: #ffdcc1;
}

.walk:hover {
	cursor: pointer;
}

/* ------------------------------
   Footer 스타일
------------------------------ */

.footer-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: black;
	text-align: center;
	height: 10%;
	background-color: #333;
	padding: 1rem;
}

/* 기타 Footer 설정 */
.footer-container-1 {
	flex: 0 0 30%;
}

.footer-container-2 {
	flex: 0 0 40%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	color: whitesmoke;
}

.copyright {
	font-size: 15px;
	color: #888;
	margin-top: 10px;
	text-align: center;
}
