/* 바디 */
body {

    margin: 0;
    padding: 0;
}
/* - */
.main1 {
  /* background-color: #FCEEEF; */
  height: 20%;
  display: flex;
  
  align-items: center;
  /* padding: 10px; */
  border: solid gray 1px;
  
}

#mainImg{
  width: 60%;

  /* margin-right: 20px; */
  box-shadow: 0 4px 6px gray;

}
.text-main {
  margin-top: 10%;
  font-size: 30px;
 text-align: center;
 font-family: 'Cafe24Supermagic-Bold-v1.0';
 margin-bottom: 20px;
  font-family: sans-serif;
  font-weight: 700;
}

.animated-text {
  /* animation: slide 3s ease;  */
  /* padding-left: 3%; */
  text-align: start;
  margin-left: 50px;
  letter-spacing: 1px;

  
}
#startBtn{
  background-color: white;
  border-radius: 45px;
  margin-top: 10%;
  padding:10px;
  
}

.main-back > .text-main > #startBtn:hover {
  background-color: gray;
}

.items {
  padding-top: 5%;
  display: flex;
  padding-left: 5%;
  padding-right: 5%;
}

.item {
  flex-grow: 1;
  text-align: center;
  border: 1px solid gray;
  margin-right: 25px;
  margin-bottom: 5%;
  width: 30%;
  border-radius: 35px;
  position: relative;
  overflow: hidden; /* 이미지의 오버플로우를 숨깁니다. */
}

/* 이미지 스타일 */
.item img {
  width: 100%;
  height: auto;
  display: block;
  transition: filter 0.3s; 
}

/* 이미지 호버시 블러 처리 스타일 */
.item:hover img {
  filter: blur(5px); /* 호버 시 블러 처리 적용 */
}

/* 마우스 호버시 텍스트 및 버튼 표시 스타일 */
.bord-hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: rgba(0, 0, 0, 0.7);  */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0; /* 초기에 숨깁니다. */
  transition: opacity 0.3s; /* 효과를 부드럽게 만듭니다. */
}

/* 텍스트와 버튼 스타일 */
.bord-hover p,
.bord-hover button {
  color: white;
  font-size: 24px;
  margin-bottom: 10px;
}

.bord-hover button,
.bord-hover a {
  background-color: white;
  color: gray;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 18px;
  border-radius: 35px;
  transition: background-color 0.3s;
}

/* 이미지 호버 시 텍스트와 버튼 표시 */
.item:hover .bord-hover {
  opacity: 1;
}


.items > img:last-child {
  margin-right: 0;
}


/* 핸드폰 반응형 */
@media screen and (max-width: 767px) {
    .main1 {
      height: auto; 
      flex-direction: column; 
    }
  
    #mainImg {
      width: 100%;
    }
  
    .text-main {
      margin-top: 5%;
      font-size: 20px; 
    }
  
    .animated-text {
      margin-left: 0; 
      text-align: center; /* 가운데 정렬 */
    }
  
    #startBtn {
      margin-top: 5%;
    }
  
    .items {
      flex-direction: column; 
      padding-left: 0; 
      padding-right: 0;
    }
  
    .item {
      width: 100%; 
      margin-right: 0; 
      margin-bottom: 20px; 
    }
  
  }
  
  
  /* 테블릿 화면 크기 (중간 크기) */
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    .items {
      flex-direction: row; /* 아이템들을 다시 가로로 정렬 */
      margin-left: -10px; /* 아이템 사이의 간격 보정 */
      margin-right: -10px;
    }
  
    .item {
      width: calc(33.33% - 20px); /* 아이템 너비를 화면 너비에 맞게 조정 */
      margin-right: 20px; /* 아이템 사이의 간격 설정 */
      margin-bottom: 0; /* 아이템들 사이의 간격 초기화 */
    }
  
    .bord-hover {
      background: transparent; /* 배경 제거 */
    }
  }
  