@font-face {
	font-family: 'Cafe24Supermagic-Bold-v1.0';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/Cafe24Supermagic-Bold-v1.0.woff2')
		format('woff2');
	font-weight: 700;
	font-style: normal;
}

html,
body {
	/* margin: 0; */
	/* padding: 0; */
	box-sizing: border-box;
	font-family: 'Cafe24Supermagic-Bold-v1.0';
}

main {
	box-sizing: inherit;
	width: 100%;
	height: auto;
}

#page-wrapper {
	width: 100%;
}

section {
	margin-bottom: 2rem;
	padding-top: 4rem;
}

#find-mate-wrapper > p {
	font-size: 1.4rem;
	text-align: center;
}

input {
	display: none;
}

label {
	color: white;
	background-color: lightgrey;
	padding: 3px 8px;
	border-radius: 0.5rem;
	border: none;
}

form input + label:hover {
	background-color: #c69f9fec;
}

form input[type='radio']:checked + label {
	background-color: #8c6666ec;
}

form {
	display: flex;
	justify-content: space-evenly;
}

.field {
	/* max-width: 20rem; */
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	background-color: whitesmoke;
	height: 8rem;
	margin: auto;
	border-radius: 0.4rem;
}

legend {
	font-size: 1.2rem;
	text-align: center;
	margin: 0;
}

#find-mate-fieldset-container {
	margin-bottom: 2rem;
}

#search-btn-container {
	display: flex;
	justify-content: center;
}

#search-btn {
	font-size: 1.2rem;
	min-width: 6rem;
	width: 10%;
	max-width: 10rem;
}

/* 조회되는 사용자 부분 */

#found-mate-wrapper {
	max-width: 30rem;
	margin: auto;
	display: none;
	padding-bottom: 2rem;
}

#search-filter {
	display: flex;
	justify-content: space-evenly;
	margin-bottom: 1rem;
}

.filter {
	padding: 6px 12px;
	border-radius: 0.4rem;
	background-color: #807369;
	color: white;
}

#searching-ui {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	height: 8rem;
	margin-bottom: 1rem;
}

#searching-message {
	opacity: 0.6;
	text-align: center;
}

.spinner-grow {
	border: none;
}

#found-users {
	text-align: center;
	border-bottom: 2px solid lightgrey;
	padding-bottom: 0.5rem;
	margin: 0 auto 1rem auto;
	width: 14rem;
}

#mate-list {
	max-height: 26rem;
	height: 26rem;
	overflow-y: auto;
	background-color: white;
	list-style-type: none;
	margin: 0 auto;
	padding: 0 5%;
	width: 14rem;
	border-radius: 0.4rem;
}

.found-user {
	cursor: pointer;
	font-size: 1rem;
	background-color: whitesmoke;
	border-radius: 0.4rem;
	margin: 1rem 0;
	color: grey;
	width: 100%;
	text-align: center;
}

.found-user img {
	width: 100%;
	aspect-ratio: 1;
	object-fit: cover;
	padding: 1rem;
}

.found-user hr {
	margin: 0;
}

.found-user div {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 2rem;
}

/* 채팅 아이콘 */

#chatting-wrapper {
	position: fixed;
	bottom: 2.5rem;
	right: 1rem;
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
	background-color: #c69f9fec;
	text-align: center;
	line-height: 4rem;
}

#chatting-wrapper:hover {
	background-color: #8c6666ec;
}

#chatbox-icon {
	color: antiquewhite;
	font-size: 1.5rem;
}

#chat-container {
	overflow: hidden;
}

#click {
	display: none;
}
label[for='click'] {
	position: fixed;
	right: 30px;
	bottom: 20px;
	height: 55px;
	width: 55px;
	background-color: #ffdcc1;
	text-align: center;
	line-height: 55px;
	border-radius: 50px;
	font-size: 30px;
	color: #fff;
	cursor: pointer;
}
label i {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: all 0.4s ease;
}
label i.close-chat {
	opacity: 0;
	pointer-events: none;
}
#click:checked ~ label i.close-chat {
	opacity: 1;
	pointer-events: auto;
	transform: translate(-50%, -55%) rotate(180deg);
}
#click:checked ~ label i.open-chat {
	opacity: 0;
	pointer-events: none;
	transform: translate(-50%, -50%) rotate(180deg);
}
.chat-wrapper {
	position: fixed;
	right: 30px;
	bottom: -100%;
	background: #fff;
	border-radius: 0.4rem;
	box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
	opacity: 0;
	pointer-events: none;
	transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);

	min-height: 500px;
	max-height: 80%;
	max-width: 90%;
	width: 400px;
	height: 500px;
	display: flex;
	justify-content: space-between;
	padding: 0.4rem;
	border: 1px solid lightgrey;
}

#click:checked ~ .chat-wrapper {
	opacity: 1;
	bottom: 85px;
	pointer-events: auto;
}

.chat-header {
	margin: 0.4rem;
	width: calc(100% - 0.8rem);
	height: 3rem;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 0.4rem;
	display: flex;
	color: white;
	text-align: center;
	font-size: 1.2rem;
}

.chat-header-friends {
	flex: 0 0 28%;
	background-color: orange;
	border-top-left-radius: inherit;
	/* border-bottom-left-radius: inherit; */
	display: flex;
	align-items: center;
	justify-content: center;
}

.chat-header-room {
	flex: 1 0 70%;
	background-color: lightsteelblue;
	border-top-right-radius: inherit;
	/* border-bottom-right-radius: inherit; */
	display: flex;
	align-items: center;
	justify-content: center;
	border-left: 1px solid whitesmoke;
}

.chat-wrapper .chat-friends {
	flex: 0 0 28%;
	background-color: whitesmoke;
	/* border-top-left-radius: inherit; */
	border-bottom-left-radius: inherit;
	overflow-y: auto;
	margin-top: 3rem;
}

.chat-wrapper .chat-friends .chat-friend {
	width: 100%;
	height: 3rem;
	border-bottom: 1px solid lightgrey;
	padding-right: 0.4rem;
	padding-left: 0.2rem;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	position: relative;
	cursor: pointer;
}

.chat-wrapper .chat-friends .chat-friend div {
	position: absolute;
	top: 3px;
	left: 22px;
	border-radius: 50%;
	background-color: red;
	min-width: 1rem;
	height: 1rem;
	font-size: 0.6rem;
	z-index: 1;
	color: white;
	text-align: center;
	padding: 0.2rem;
	justify-content: center;
	align-items: center;
	display: flex;
}

.chat-wrapper .chat-friends .chat-friend .chat-friend-profile {
	width: 30px;
	height: 30px;
	object-fit: cover;
	border-radius: 50%;
	cursor: default;
}

.chat-wrapper .chat-friends .chat-friend .chat-friend-name {
	margin-left: 0.4rem;
	max-width: 50px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.chat-wrapper .chat-friends .chat-friend .delete-friend-button {
	display: none;
	position: absolute;
	bottom: 0;
	right: 0;
	transform: translate(-30%, -40%);
}

.chat-wrapper .chat-friends .chat-friend:hover .delete-friend-button {
	display: block;
}

.chat-wrapper .empty-chat-room {
	display: flex;
	flex: 1 0 70%;
	background-color: lightsteelblue;
	/* border-top-right-radius: inherit; */
	border-bottom-right-radius: inherit;
	border-left: 1px solid whitesmoke;
	justify-content: center;
	align-items: center;
	color: darkslategrey;
	font-size: 0.8rem;
	margin-top: 3rem;
}

.chat-wrapper .chat-container {
	display: none;
	flex: 1 0 70%;
	background-color: lightsteelblue;
	/* display: flex; */
	flex-direction: column;
	border-bottom-right-radius: inherit;
	border-left: 1px solid whitesmoke;
	margin-top: 3rem;
	padding-top: 1rem;
	height: calc(500px - 0.6rem - 4rem);
}

.chat-wrapper .chat-container .chat-room {
	flex: 0 0 90%;
	/* display: none; */
	background-color: lightsteelblue;
	/* border-top-right-radius: inherit; */
	/* border-bottom-right-radius: inherit; */
	/* border-left: 1px solid whitesmoke;
	margin-top: 3rem;
	padding: 0 0.4rem;
	padding-top: 1rem; */
	padding: 0 0.4rem;

	overflow: auto;
}

.chat-wrapper .chat-container .chat-input {
	flex: 0 0 10%;
	border-radius: 0.4rem;
	display: flex;
}

.chat-wrapper .chat-container .chat-input textarea {
	flex: 0 0 90%;
	border: none;
	padding: 0.4rem;
	font-size: 0.8rem;
	resize: none;
}

.chat-wrapper .chat-container .chat-input button {
	flex: 0 0 10%;
	border: none;
	background-color: whitesmoke;
	color: black;
	padding: 0;
	cursor: pointer;
}

.chat-wrapper .chat-container .chat-input button:hover {
	background-color: lightgoldenrodyellow;
}

.chat-wrapper .chat-container .chat-input button:disabled {
	background-color: whitesmoke;
	cursor: default;
}

.chat-wrapper .chat-container .chat-input button i {
	position: relative;
	top: 4px;
}

.chat-room .bubble {
	font-size: 0.8rem;
	border-radius: 0.4rem;
	padding: 0.4rem;
	position: relative;
	margin-bottom: 1rem;
	max-width: 55%;
	width: fit-content;
	word-wrap: break-word;
	min-height: 2rem;
	min-width: 1rem;
}

.chat-room .date-indicator {
	text-align: center;
	font-size: 0.8rem;
	border-bottom: 1px solid grey;
	color: grey;
	margin-bottom: 1rem;
}

.chat-room .bubble:before {
	position: absolute;
	top: 19px;
	display: block;
	width: 8px;
	height: 6px;
	content: '';
	transform: rotate(29deg) skew(-35deg);
}

.chat-room .bubble .timestamp {
	position: absolute;
	bottom: 0;
	color: grey;
	font-size: 0.8rem;
}

.chat-room .bubble.you .timestamp {
	left: 104%;
}

.chat-room .bubble.me .timestamp {
	right: 104%;
}

.chat-room .bubble.me:before {
	right: -3px;
	background-color: #eceff1;
}

.chat-room .bubble.me {
	background-color: #eceff1;
	margin-left: auto;
}

.chat-room .bubble.you:before {
	left: -3px;
	background-color: yellow;
}

.chat-room .bubble.you {
	background-color: yellow;
	margin-right: auto;
}

/* .btn {
	color: whitesmoke;
	background-color: skyblue;
}

.btn:hover {
	background-color: blue;
} */

/*
#wrapper {
	width: 100%;
	margin-top: 8rem;
	display: flex;
	justify-content: space-evenly;
	flex-direction: row;
}

#find-mate-section {
	flex-basis: 40%;
	height: 100%;
	border-radius: 15px;
}

#find-mate-wrapper {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

#find-mate-wrapper > p {
	flex-basis: 5%;
	flex-shrink: 0;
	font-size: 1.5rem;
	margin: 0;
	padding: 0;
}

#find-mate-fieldset-container {
	flex-basis: 80%;
	flex-shrink: 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

.field {
	margin: 0;
	padding: 0;
	margin: 0.5rem 0;
	width: 100%;
	height: 100%;
	border-radius: 15px;
	border: none;
	background-color: #f4e0d6;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

.field legend {
	text-align: center;
	background-color: #f4e0d6;
	border-radius: 10px;
	font-size: 1.2rem;
	padding: 0.5rem;
	width: 40%;
}

.field form {
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: space-evenly;
	align-items: center;
}

.field form input {
	display: none;
}

.field label {
	flex-basis: 20%;
	padding: 1rem 1.8rem;
	background-color: #dcada4;
	border-radius: 15px;
	color: antiquewhite;
	text-align: center;
}

form input[type='radio']:checked + label {
	background-color: #8c6666ec;
}

.field label:hover {
	background-color: #c69f9fec;
}

#find-mate-search-container {
	flex-basis: 15%;
	flex-shrink: 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

#find-mate-search-container:first-child {
	flex-basis: 100%;
}

#find-mate-search-container button {
	font-family: inherit;
	width: 100%;
	padding: 0.6rem 1.2rem;
	font-weight: 700;
	border: none;
}

#found-mate-section {
	flex-basis: 20%;
	height: 100%;
	border-radius: 15px;
}

#found-mate-wrapper {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

#found-mate-wrapper > p {
	flex-basis: 5%;
	flex-shrink: 0;
	text-align: center;
	margin: 0 0 1rem 0;
	padding: 0;
	font-size: 1.5rem;
}

#found-mate-wrapper > ul {
	flex-grow: 0.9;
	background-color: whitesmoke;
	border-radius: 15px;
	margin: 1rem 0;
	padding-top: 1rem;
	margin-block-start: 0;
	margin-block-end: 0;
	padding-inline-start: 0;
}

#mate-list li {
	width: 60%;
	list-style: none;
	display: block;
	text-align: center;
	padding: 0.4rem 0;
	margin: 0.4rem auto;
	border-radius: 10px;
	background-color: #c69f9fec;
	cursor: pointer;
}

#chatting-wrapper {
	position: fixed;
	bottom: 2.5rem;
	right: 1rem;
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
	background-color: #c69f9fec;
	text-align: center;
	line-height: 4rem;
}

#chatting-wrapper:hover {
	background-color: #8c6666ec;
}

#chatbox-icon {
	color: antiquewhite;
	font-size: 1.5rem;
}

#chat-list-wrapper {
	position: fixed;
	width: 18rem;
	height: 30rem;
	border-radius: 15px;
	background-color: #c69f9fec;
	right: 1rem;
	bottom: 7rem;
	display: none;
	flex-direction: column;
	align-items: center;
}

#chat-list-wrapper > p {
	flex-basis: 10%;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

#chat-list-wrapper > ul {
	flex-basis: 70%;
	width: 100%;
	margin-block-start: 0;
	margin-block-end: 0;
	padding-inline-start: 0;
	text-align: center;
}

#chat-list-wrapper li {
	list-style: none;
	background-color: antiquewhite;
	border-radius: 15px;
	width: 80%;
	height: 3rem;
	margin: 0 auto;
	padding: 0 0.5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.chat-list-btn-container {
	width: 30%;
	display: flex;
	justify-content: space-around;
}

.chat-list-btn-container button {
	border: none;
	background-color: antiquewhite;
	padding: 0;
	margin: 0;
	padding-block: 0;
	padding-inline: 0;
}

#chat-room-wrapper {
	position: fixed;
	width: 18rem;
	height: 30rem;
	border-radius: 15px;
	right: 1rem;
	bottom: 7rem;
	background-color: antiquewhite;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#chat-room-wrapper button {
	border: none;
	background-color: antiquewhite;
	padding: 0;
	margin: 0;
	padding-block: 0;
	padding-inline: 0;
	cursor: pointer;
}

.top-bar-interface {
	flex-basis: 10%;
	flex-shrink: 0;
	flex-grow: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 0.1rem solid grey;
}

.exit-chat-room-btn {
	flex-basis: 15%;
	flex-grow: 0;
	flex-shrink: 0;
	border-radius: 15px;
}

.exit-chat-room-btn-icon {
	font-size: 1.4rem;
}

.top-bar-interface span {
	flex-basis: 50%;
	font-size: 1.4rem;
	flex-grow: 1;
	flex-shrink: 0;
	text-align: center;
}

.chat-interface {
	flex-basis: 75%;
	flex-shrink: 0;
	border-bottom: 0.1rem solid grey;
	overflow-y: scroll;
}

.chat-interface .chat {
	display: flex;
	align-items: flex-start;
	padding: 1rem 0;
	text-wrap: balance;
}

.chat-interface .chat .textbox {
	max-width: 60%;
	border-radius: 10px;
	padding: 0.5rem;
	overflow-wrap: break-word;
}

.chat-interface .me {
	flex-direction: row-reverse;
}

.chat-interface .me .textbox {
	background-color: ghostwhite;
	margin-right: 0.6rem;
}

.chat-interface .other .textbox {
	background-color: #c69f9fec;
	margin-left: 0.6rem;
}

.input-interface {
	flex-basis: 15%;
	flex-shrink: 0;
	flex-grow: 0;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.input-interface .message-input-container {
	flex-basis: 80%;
	flex-grow: 0;
	flex-shrink: 0;
	border: none;
	border-radius: 5px;
	text-align: center;
}

.input-interface .send-button-container {
	flex-basis: 20%;
	flex-grow: 0;
	flex-shrink: 0;
	text-align: center;
}

.input-interface .send-button-container i {
	width: 1rem;
	height: 1rem;
	font-size: 1.5rem;
	color: #8c6666ec;
}

#search-btn {
	background-color: #f4e0d6;
	border-radius: 15px;
}

#search-btn:hover {
	background-color: #c69f9fec;
}

.loader {
	border: 5px solid #f3f3f3;
	border-top: 5px solid #c69f9fec;
	margin-left: 40%;
	margin-bottom: 5%;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	animation: spin 1s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

#cancelSearch {
	background-color: #f4e0d6;
	border-radius: 15px;
}
#cancelSearch:hover {
	background-color: #c69f9fec;
}
header,
footer {
	width: 100%;
	border-radius: 10px;
	margin: auto;
}

header {
	position: fixed;
	top: 0px;
}

footer {
	position: absolute;
	bottom: 0px;
	display: none;
} */
