@font-face {
	font-family: 'Cafe24Supermagic-Bold-v1.0';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/Cafe24Supermagic-Bold-v1.0.woff2')
		format('woff2');
	font-weight: 700;
	font-style: normal;
}

html,
body {
	/* margin: 0; */
	/* padding: 0; */
	box-sizing: border-box;
	font-family: 'Cafe24Supermagic-Bold-v1.0';
}

header {
	font-family: 'SUITE-Regular';
}

main {
	box-sizing: inherit;
	width: 100%;
	height: auto;
}

#page-wrapper {
	width: 100%;
}

section {
	margin-bottom: 2rem;
	padding-top: 4rem;
}

#dogSearchIMG {
	width: 10rem;
	object-fit: contain;
	position: fixed;
	right: -15px;
	top: 86px;
}

#find-mate-wrapper > p {
	font-size: 1.4rem;
	text-align: center;
}

input {
	display: none;
}

label {
	color: white;
	background-color: lightgrey;
	padding: 3px 8px;
	border-radius: 0.5rem;
	border: none;
}

form input + label:hover {
	background-color: #c69f9fec;
}

form input[type='radio']:checked + label {
	background-color: #8c6666ec;
}

form {
	display: flex;
	justify-content: space-evenly;
}

.field {
	/* max-width: 20rem; */
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	background-color: whitesmoke;
	height: 8rem;
	margin: auto;
	border-radius: 0.4rem;
}

legend {
	font-size: 1.2rem;
	text-align: center;
	margin: 0;
}

#find-mate-fieldset-container {
	margin-bottom: 2rem;
}

#search-btn-container {
	display: flex;
	justify-content: center;
}

#search-btn {
	font-size: 1.2rem;
	min-width: 6rem;
	width: 10%;
	max-width: 10rem;
}

/* 조회되는 사용자 부분 */

#found-mate-wrapper {
	max-width: 30rem;
	margin: auto;
	display: none;
	padding-bottom: 2rem;
}

#search-filter {
	display: flex;
	justify-content: space-evenly;
	margin-bottom: 1rem;
}

.filter {
	padding: 6px 12px;
	border-radius: 0.4rem;
	background-color: #807369;
	color: white;
}

#searching-ui {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	height: 8rem;
	margin-bottom: 1rem;
}

#searching-message {
	opacity: 0.6;
	text-align: center;
}

.spinner-grow {
	border: none;
}

#found-users {
	text-align: center;
	border-bottom: 2px solid lightgrey;
	padding-bottom: 0.5rem;
	margin: 0 auto 1rem auto;
	width: 14rem;
}

#mate-list {
	max-height: 26rem;
	height: 26rem;
	overflow-y: auto;
	background-color: white;
	list-style-type: none;
	margin: 0 auto;
	padding: 0 5%;
	width: 14rem;
	border-radius: 0.4rem;
}

.found-user {
	cursor: pointer;
	font-size: 1rem;
	background-color: whitesmoke;
	border-radius: 0.4rem;
	margin: 1rem 0;
	color: grey;
	width: 100%;
	text-align: center;
}

.found-user img {
	width: 100%;
	aspect-ratio: 1;
	object-fit: cover;
	padding: 1rem;
}

.found-user hr {
	margin: 0;
}

.found-user div {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 2rem;
}

/* 채팅 아이콘 */

#chatting-wrapper {
	position: fixed;
	bottom: 2.5rem;
	right: 1rem;
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
	background-color: #c69f9fec;
	text-align: center;
	line-height: 4rem;
}

#chatting-wrapper:hover {
	background-color: #8c6666ec;
}

#chatbox-icon {
	color: antiquewhite;
	font-size: 1.5rem;
}

#chat-container {
	overflow: hidden;
}

#click {
	display: none;
}
label[for='click'] {
	position: fixed;
	right: 20px;
	bottom: 20px;
	height: 55px;
	width: 55px;
	background-color: rgb(224, 197, 151);
	text-align: center;
	line-height: 55px;
	border-radius: 50px;
	font-size: 30px;
	color: #fff;
	cursor: pointer;
}
label i {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: all 0.4s ease;
}
label i.close-chat {
	opacity: 0;
	pointer-events: none;
}
#click:checked ~ label i.close-chat {
	opacity: 1;
	pointer-events: auto;
	transform: translate(-50%, -55%) rotate(180deg);
}
#click:checked ~ label i.open-chat {
	opacity: 0;
	pointer-events: none;
	transform: translate(-50%, -50%) rotate(180deg);
}
.chat-wrapper {
	position: fixed;
	right: 20px;
	bottom: -100%;
	background: #fff;
	border-radius: 0.4rem;
	box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
	opacity: 0;
	pointer-events: none;
	transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);

	min-height: 500px;
	max-height: 80%;
	max-width: 100vw;
	width: 400px;
	height: 500px;
	display: flex;
	justify-content: space-between;
	/* padding: 0.4rem; */
	border: 1px solid lightgrey;
}

@media only screen and (max-width: 600px) {
	.chat-wrapper {
		right: 0px;
	}
	label[for='click'] {
		right: 0px;
		bottom: 0px;
	}
	#click:checked ~ .chat-wrapper {
		bottom: 65px;
	}
}

#click:checked ~ .chat-wrapper {
	opacity: 1;
	bottom: 85px;
	pointer-events: auto;
}

.chat-header {
	width: 100%;
	height: 3rem;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 0.4rem;
	display: flex;
	color: white;
	text-align: center;
	font-size: 1.2rem;
}

.chat-header-friends {
	flex: 0 0 28%;
	background-color: #c1d1b3;
	border-top-left-radius: inherit;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #556b2f;
}

.chat-header-room {
	flex: 1 0 70%;
	background-color: #f5deb3;
	border-top-right-radius: inherit;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #556b2f;
}

.chat-wrapper .chat-friends {
	flex: 0 0 28%;
	background-color: whitesmoke;
	border-bottom-left-radius: inherit;
	overflow-y: auto;
	margin-top: 3rem;
}

.chat-wrapper .chat-friends .chat-friend:first-child {
	border-top: 1px solid grey;
}

.chat-wrapper .chat-friends .chat-friend {
	width: 100%;
	height: 3rem;
	border-bottom: 1px solid grey;
	padding-right: 0.4rem;
	padding-left: 0.2rem;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	position: relative;
	cursor: pointer;
}

.chat-wrapper .chat-friends .chat-friend div {
	position: absolute;
	top: 3px;
	left: 22px;
	border-radius: 50%;
	background-color: red;
	min-width: 1rem;
	height: 1rem;
	font-size: 0.6rem;
	z-index: 1;
	color: white;
	text-align: center;
	padding: 0.2rem;
	justify-content: center;
	align-items: center;
	display: flex;
}

.chat-wrapper .chat-friends .chat-friend .chat-friend-profile {
	width: 30px;
	height: 30px;
	object-fit: cover;
	border-radius: 50%;
	cursor: default;
}

.chat-wrapper .chat-friends .chat-friend .chat-friend-name {
	margin-left: 0.4rem;
	max-width: 50px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.chat-wrapper .chat-friends .chat-friend .delete-friend-button {
	display: none;
	position: absolute;
	bottom: 0;
	right: 0;
	transform: translate(-30%, -40%);
}

.chat-wrapper .chat-friends .chat-friend:hover .delete-friend-button {
	display: block;
}

.chat-wrapper .empty-chat-room {
	display: flex;
	flex: 1 0 70%;
	background-color: #fff8e1;
	border-bottom-right-radius: inherit;
	justify-content: center;
	align-items: center;
	color: darkslategrey;
	font-size: 0.8rem;
	margin-top: 3rem;
}

.chat-wrapper .chat-container {
	display: none;
	flex: 1 0 70%;
	background-color: #fff8e1;
	flex-direction: column;
	border-bottom-right-radius: inherit;
	margin-top: 3rem;
	padding-top: 0.6rem;
	/* height: calc(500px - 0.6rem - 4rem); */
}

.chat-wrapper .chat-container .chat-room {
	flex: 0 0 88%;
	overflow: auto;
	padding: 0 0.6rem;
}

.chat-wrapper .chat-container .chat-input {
	flex: 0 0 12%;
	border-radius: 0.4rem;
	display: flex;
}

.chat-wrapper .chat-container .chat-input textarea {
	flex: 0 0 85%;
	border: none;
	padding: 0.4rem;
	font-size: 0.8rem;
	resize: none;
}

.chat-wrapper .chat-container .chat-input button {
	flex: 0 0 15%;
	border: none;
	background-color: whitesmoke;
	color: black;
	padding: 0;
	cursor: pointer;
}

.chat-wrapper .chat-container .chat-input button:hover {
	background-color: #ffd700;
}

.chat-wrapper .chat-container .chat-input button:disabled {
	background-color: whitesmoke;
	cursor: default;
}

.chat-wrapper .chat-container .chat-input button i {
	position: relative;
	top: 4px;
}

.chat-room .bubble {
	font-size: 0.8rem;
	border-radius: 0.4rem;
	padding: 0.4rem;
	position: relative;
	margin-bottom: 1rem;
	max-width: 55%;
	width: fit-content;
	word-wrap: break-word;
	min-height: 2rem;
	min-width: 1rem;
}

.chat-room .date-indicator {
	text-align: center;
	font-size: 0.8rem;
	border-bottom: 1px solid grey;
	color: grey;
	margin-bottom: 1rem;
}

.chat-room .bubble:before {
	position: absolute;
	top: 19px;
	display: block;
	width: 8px;
	height: 6px;
	content: '';
	transform: rotate(29deg) skew(-35deg);
}

.chat-room .bubble .timestamp {
	position: absolute;
	bottom: 0;
	color: grey;
	font-size: 0.8rem;
}

.chat-room .bubble.you .timestamp {
	left: 104%;
}

.chat-room .bubble.me .timestamp {
	right: 104%;
}

.chat-room .bubble.me:before {
	right: -3px;
	background-color: #ffbf00;
}

.chat-room .bubble.me {
	background-color: #ffbf00;
	margin-left: auto;
}

.chat-room .bubble.you:before {
	left: -3px;
	background-color: #556b2f;
	color: whitesmoke;
}

.chat-room .bubble.you {
	background-color: #556b2f;
	color: whitesmoke;
	margin-right: auto;
}
