@font-face {
    font-family: 'Cafe24Supermagic-Bold-v1.0';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/Cafe24Supermagic-Bold-v1.0.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
body {
    font-family: 'Cafe24Supermagic-Bold-v1.0', sans-serif;
    background-color: #f4e0d6;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
}

h1 {
    text-align: center;
    color: #333;
}

.d-flex {
    justify-content: space-between;
    align-items: center;
}

.btn {
    margin-right: 10px;
}

label {
    font-weight: bold;
}

input[type="text"],
textarea {
    width: 96%;
    padding: 10px;
    margin-bottom: 0px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
}

button {
    padding: 10px 20px;
    background-color: #DCADA4;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#toggleCommentButton {
    margin: 20px auto;
    display: block;
}

.comment-container {
    display: none;
    max-width: 600px;
margin: 0 auto;
padding: 20px;
background-color: #fff;
border-radius: 5px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
margin-top: 20px;
}

.comment-list {
    margin-top: 10px;
    white-space: pre-wrap;
}
#commentarea{
    overflow-y: scroll; 
    height:200px;
    border: 1px solid #ccc;
}
#commentarea p {
    margin-top: 10px;
    white-space: pre-wrap;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
/* 추가된 CSS: 768px 미만 화면에 대한 스타일링 */
@media (max-width: 768px) {
    .container {
        padding: 10px; /* 좀 더 작은 padding 적용 */
        width: 450px;
    }

    input[type="text"],
    textarea {
        margin-bottom: 10px; /* 작은 간격으로 변경 */
        width: 95%;
    }

    button {
        padding: 8px 16px; /* 작은 크기로 변경 */
    }

    #comment-container {
        padding: 10px; /* 좀 더 작은 padding 적용 */
        width: 450px;
border-radius: 8px;
    }
}
.writer {
    margin-top: 10px;
}
#toggleBtn_listBtn {
    display: flex;
}