<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>HotDog</title>
  <link rel="icon" href="../images/HotDog-Logo.png" type="image/x-icon" sizes="32x32">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous" />
  <link rel="stylesheet" href="../css/initialize.css" />
  <link rel="stylesheet" href="../css/main.css" />
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <style>
    .modal-body {
      display: flex;
      justify-content: center;
    }

    .navbar {
      background-color: #333;
      color: #fff;
      padding: 10px 0;
      display: flex;
      justify-content: space-evenly;
    }

    .navbar a {
      color: #fff;
      text-decoration: none;
      margin: 0 15px;
    }

    /* Navbar 로고 스타일 */
    .navbar-logo img {
      width: 50px;
      /* 로고 이미지 너비 조정 */
      height: auto;
    }
  </style>
</head>

<body>
  <!-- <div>
      <a href="/boards/qna">Q&A</a>
      <nav class="navbar">
        <div class="navbar-logo">
          <a href="">
            <img src="../images/HotDog-Logo.png" alt="" />
          </a>
        </div>
        <div class="navbar-menu">
          <ul>
            <li><a href="">산책친구찾기</a></li>
            <li><a href="">용품나눔</a></li>
            <li><a href="">게시판</a></li>
            <li><a href="">강아지를 찾아요</a></li>
          </ul>
        </div>
      </nav>
    </div> -->
  <nav class="navbar">
    <div class="container">
      <div class="navbar-logo">
        <img>
      </div>
      <div class="navbar-menu">
        <a href="/mate">산책메이트 찾기</a>
        <a href="/hospital">병원찾아가기</a>
        <a href="/boards/qna">Q&A</a>
      </div>
      <a href="/mypage">마이페이지</a>
      <a href="/faq" target="_blank">FAQ</a>
      <!-- Button trigger modal -->
      <button type="button" class="loginoutbtn" id="logoutBtn" onclick="logout()"
        style="background-color: #F4E0D6; border: none ;color:black; border-radius: 10px;">
        로그아웃
      </button>
      <button type="button" class="btn btn-primary loginoutbtn" id="modalbtn" data-bs-toggle="modal"
        data-bs-target="#exampleModal" style="background-color: #F4E0D6; border: none ;color:black;">
        로그인
      </button>
    </div>
  </nav>
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content" style="background-color: #F4E0D6;">
        <div class="modal-header text-center">
          <div class="modal-title fs-5" id="exampleModalLabel">로그인</div>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id="login-form">
            <div class="mb-3">
              <label for="userid" class="form-label">아이디</label>
              <input type="text" class="form-control" id="userid" style="background-color: #F4E0D6;">
            </div>
            <div class="mb-3">
              <label for="pw" class="form-label">비밀번호</label>
              <input type="password" class="form-control" id="pw" style="background-color: #F4E0D6;">
            </div>
            <div class="text-center">
              <button type="button" class="btn btn-primary" onclick="signin()"
                style="background-color:#DBC2BD; border: none;">로그인</button>
              <button type="button" class="btn btn-primary" onclick="signup()"
                style="background-color:#DBC2BD; border: none;">회원가입</button>
              <button type="button" class="btn btn-secondary me-3" data-bs-dismiss="modal"
                style="background-color:#DBC2BD; border: none;">Close</button> <!-- 회원가입 버튼 추가 -->
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
<!-- 바디 -->
  <body>
        <div class="main1">
            
          <img id="mainImg"  src="/images/산책.jpg" alt="">
          <div class="main-back">
              <div class="text-main">
                <div class="animated-text">With a walking mate <br> Experience a special experience!</div>
                <!-- <div class="animated-text">Experience a special experience!</div> -->
                <button class="animated-text" id="startBtn">START</button>
                
              </div>
          </div>
        </div>
      <div class="items">
        <div class="item" >
            <img src="/images/산책.jpg" alt="강아지 1">
            <div class="bord-hover">
                <p>용품나눔</p>
                <button id="itemBtn1">Click me</button>
            </div>
        </div>
        <div class="item">
            <img src="/images/산책.jpg" alt="강아지 2">
            <div class="bord-hover">
                <p>우리집 강아지 좀 보세요 그냥 귀여우니깐요</p>
                <button id="itemBtn2">Click me</button>
            </div>
        </div>
        <div class="item">
            <img src="/images/산책.jpg" alt="강아지 병원">
            <div class="bord-hover">
                <p>무엇이든 물어보세요</p>
                <button id="itemBtn3">Click me</button>
            </div>
        </div>
    </div>
  </body>

  <script>
    window.onload = function () {
      const loginbutton = document.querySelector("#modalbtn");
      const logoutbutton = document.querySelector("#logoutBtn");

      const token = localStorage.getItem("token");
      if (token) {
        loginbutton.style.display = "none";
        logoutbutton.style.display = "block";
      } else {
        loginbutton.style.display = "block";
        logoutbutton.style.display = "none";
      }
    }

    function signup() {
      window.location.href = "/signup";
    }

    function authKaKao() {
      document.location.href = "/signup/kakao";
    }

    async function signin() {
      const userid = document.querySelector("#userid").value;
      const pw = document.querySelector("#pw").value;
      const loginbutton = document.querySelector("#modalbtn");
      const logoutbutton = document.querySelector("#logoutBtn");
      const data = {
        userid,
        pw,
      };

      try {
        const res = await axios({
          method: "POST",
          url: "/login",
          data,
        });
        console.log(res.data);
        if (res.data.result) {
          localStorage.setItem(`${res.data.userinfo.userid}`, res.data.token);
          localStorage.setItem(`token`, res.data.token);
          alert(`${res.data.userinfo.name}님 로그인 성공`);
          loginbutton.style.display = "none";
          logoutbutton.style.display = "block";
          window.location.reload();
        } else {
          alert(`${res.data.message}`);
          document.location.reload();
        }
      } catch (error) {
        console.log(error);
      }
    }
    async function logout() {
      window.localStorage.clear();
      const loginbutton = document.querySelector("#modalbtn");
      const logoutbutton = document.querySelector("#logoutBtn");
      loginbutton.style.display = "block";
      logoutbutton.style.display = "none";
      document.location.href = "/";
    }
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
    crossorigin="anonymous"></script>
    <script>
      // 산책메이트로 찾아가는 btn function
      document.addEventListener("DOMContentLoaded",function(){
        const startBtn = document.getElementById("startBtn")
        startBtn.addEventListener("click",function(){
          const mateURL = "http://localhost:8000/mate"
          window.location.href = '/mate';
        })
      })

      // item1 용품나눔
      document.addEventListener("DOMContentLoaded",function(){
        const itemBtn1 = document.getElementById("itemBtn1")
        itemBtn1.addEventListener("click",function(){
          const carrotURL = "http://localhost:8000/share"
          window.location.href = carrotURL;
        })
      })

      // item2 강아지 sns/
      document.addEventListener("DOMContentLoaded",function(){
        const itemBtn2 = document.getElementById("itemBtn2")
        itemBtn2.addEventListener("click",function(){
          const dogURL = "http://localhost:8000/boards"
          window.location.href = '/sns';
        })
      })
      //item3 q&a
      document.addEventListener("DOMContentLoaded",function(){
        const itemBtn3 = document.getElementById("itemBtn3")
        itemBtn3.addEventListener("click",function(){
          const QnaURL = "..."
          window.location.href = QnaURL;
        })
      })

    </script>
</body>

</html>