<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>HotDog</title>
  <link rel="icon" href="../images/HotDog-Logo.png" type="image/x-icon" sizes="32x32">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous" />
  <link rel="stylesheet" href="../css/initialize.css" />
  <link rel="stylesheet" href="../css/mainPage.css" />
  <link rel="stylesheet" href="../css/main.css" />
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body>
  <!-- header -->
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-lg">
        <a class="navbar-brand" href="/"><img class="logo__img" src="/images/logo-removebg.png" alt="logo"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a class="nav-link walk" aria-current="page" onclick="authenticate()">산책친구 찾기</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/share">강아지 자랑</a>
            </li>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/hospital">동물병원 찾기</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/boards/qna">Q&A 게시판</a>
            </li>
          </ul>
          <hr class="d-lg-none">

          <div class="d-lg-none ">
            <a class="btn btn_my" href="/mypage">마이페이지</a>
            <button class="btn btn_log" data-bs-toggle="modal" data-bs-target="#exampleModal-log" id="loginBtnSmall"
              type="button">로그인</button>
            <button class="btn btn_log" id="logoutBtnSmall" type="button" onclick="logout()">로그아웃</button>
          </div>

          <div class="myLog d-none d-lg-flex"> <!-- Only display on large screens -->
            <a class="btn btn_my" href="/mypage">마이페이지</a>
            <button class="btn btn_log" data-bs-toggle="modal" data-bs-target="#exampleModal-log" id="loginBtnLarge"
              type="button">로그인</button>
            <button class="btn btn_log" id="logoutBtnLarge" type="button" onclick="logout()">로그아웃</button>
          </div>

        </div>
      </div>
    </nav>

    <div class="modal fade" id="exampleModal-log" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" style="background-color: #F4E0D6;">
          <div class="modal-header text-center">
            <div class="modal-title fs-5" id="exampleModalLabel">로그인</div>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form id="login-form">
              <div class="mb-3">
                <label for="userid" class="form-label">아이디</label>
                <input type="text" class="form-control" id="userid" style="background-color: #F4E0D6;" value="user1">
              </div>
              <div class="mb-3">
                <label for="pw" class="form-label">비밀번호</label>
                <input type="password" class="form-control" id="pw" style="background-color: #F4E0D6;" value="user1">
              </div>
              <div class="text-center">
                <button type="button" class="btn btn-primary" onclick="signin()"
                  style="background-color:#DBC2BD; border: none;">로그인</button>
                <button type="button" class="btn btn-primary" onclick="signup()"
                  style="background-color:#DBC2BD; border: none;">회원가입</button>
                <button type="button" class="btn btn-secondary me-3" data-bs-dismiss="modal"
                  style="background-color:#DBC2BD; border: none;">Close</button> <!-- 회원가입 버튼 추가 -->
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- body -->

  <main>
    <div class="main1">

      <img id="mainImg" src="/images/walkingmate2.jpg" alt="">
      <div class="main-back">
        <div class="text-main">
          <div class="animated-text">다른 견주와 함께 반려견 산책을 해보세요!</div>
          <button class="animated-text" id="startBtn" onclick="redirectMate()">시작하기</button>

        </div>
      </div>
    </div>
    <div class="items">

      <div class="item">
        <img src="/images/sns.jpg">
        <div class="bord-hover">
          <button id="itemBtn1">강아지 자랑</button>
        </div>
      </div>

      <div class="item">
        <img src="/images/petclinic.jpg">
        <div class="bord-hover">
          <button id="itemBtn2">동물병원 찾기</button>
        </div>
      </div>


      <div class="item">
        <img src="/images/qna.jpg">
        <div class="bord-hover">
          <button id="itemBtn3">Q&A 게시판</button>
        </div>
      </div>
    </div>
    <!-- footer start -->
    <footer>
      <div class="footer-container">
        <div class="footer-container-1">
          <div class="copyright">&copy; 2023 Hotdog. All rights reserved.</div>
          <a href="/faq">FAQ</a>
        </div>
        <div class="footer-container-2">
          <div>김민현</div>
          <div>김대원</div>
          <div>강석주</div>
          <div>이영경</div>
          <div>김명준</div>
        </div>
      </div>
    </footer>
    <!-- footer end -->
  </main>

  <!-- JavaScript -->
  <script src="/js/header.js"></script>

  <script>

    function signup() {
      window.location.href = "/signup";
    }
    async function signin() {
      const userid = document.querySelector("#userid").value;
      const pw = document.querySelector("#pw").value;
      const loginbutton = document.querySelector("#loginBtn");
      const logoutbutton = document.querySelector("#logoutBtn");
      const data = {
        userid,
        pw,
      };

      try {
        const res = await axios({
          method: "POST",
          url: "/login",
          data,
        });
        console.log(res.data);
        if (res.data.result) {
          // localStorage.setItem(`${res.data.userinfo.userid}`, res.data.token);
          localStorage.setItem(`token`, res.data.token);
          alert(`${res.data.userinfo.name}님 로그인 성공`);
          window.location.reload();
        } else {
          alert(`${res.data.message}`);
          document.location.reload();
        }
      } catch (error) {
        console.log(error);
      }
    }
    async function logout() {
      window.localStorage.clear();
      const loginbutton = document.querySelector("#loginBtn");
      const logoutbutton = document.querySelector("#logoutBtn");
      document.location.href = "/";
    }


    function scrollToTop() {
      window.scrollTo({
        top: 0,
        behavior: "smooth" // 부드러운 스크롤 효과를 사용하려면 "smooth"를 설정합니다.
      });
    }
    // script end
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
    crossorigin="anonymous"></script>

  <script>
    // 산책메이트로 찾아가는 btn function
    document.addEventListener("DOMContentLoaded", function () {
      const startBtn = document.getElementById("startBtn");
      startBtn.addEventListener("click", authenticate);
    });

    // item1 용품나눔
    document.addEventListener("DOMContentLoaded", function () {
      const itemBtn1 = document.getElementById("itemBtn1");
      itemBtn1.addEventListener("click", function () {
        window.location.href = '/share';
      });
    });

    // item2 강아지 sns/
    document.addEventListener("DOMContentLoaded", function () {
      const itemBtn2 = document.getElementById("itemBtn2");
      itemBtn2.addEventListener("click", function () {
        window.location.href = "/hospital";
      });
    });
    //item3 q&a
    document.addEventListener("DOMContentLoaded", function () {
      const itemBtn3 = document.getElementById("itemBtn3");
      itemBtn3.addEventListener("click", function () {
        window.location.href = '/boards/qna';
      });
    })

  </script>
</body>

</html>