<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>Document</title>
</head>

<body>
    <h1>qna</h1>
    <div>
        <form id="qna-form">
            <fieldset>
                <legend>질문하기</legend>
                <div><input type="text" name="" id="uesrid" placeholder="사용자 아이디"></div>
                <div><input type="text" name="" id="qna" placeholder="질문글"></div>
                <button type="submit">등록</button>
            </fieldset>
            <table id="comment-list">
                <thead>
                    <tr>
                        <th>아이디</th>
                        <th>작성자</th>
                        <th>댓글</th>
                        <th>수정</th>
                        <th>삭제</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>

        </form>
    </div>

    <div><%= %></div>
</body>

</html>