<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <title>Document</title>
</head>

<body>
  <div>
    <a href="/boards/qna/write">글쓰기</a>
  </div>
  <div>
    <table>
      <thead>
        <tr>
          <th>번호</th>
          <th>제목</th>
          <th>작성자</th>
          <th>작성일</th>
          <th>조회</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>번호</td>
          <td><a href="">타이틀</a></td>
          <td>작성자이름</td>
          <td>2023.09.07</td>
          <td>99999</td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- <div>
    <a href="">&lt;&lt;</a>
    <a href="">&lt;</a>
    <a href="">1</a>
    <a href="">2</a>
    <a href="">3</a>
    <a href="">4</a>
    <a href="">&gt;</a>
    <a href="">&gt;&gt;</a>
  </div> -->

  <script>
    
  </script>
</body>
</html>
