<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/7Tf1NS6R.ico" type="image/x-icon" sizes="32x32">
    <link rel="stylesheet" href="/css/qnaWrite.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="icon" href="../images/HotDog-Logo.png" type="image/x-icon" sizes="32x32">
    <title>Q&A</title>
    
</head>

<body>
    <div id="boardForm-container">
        <h1>Q&A 등록</h1>
        <form id="boardForm">
            <div>
                <!-- 'title' 속성 값을 수정 -->
                <label for="title">제목</label>
                <input type="text" name="qna-title" id="title">
            </div>
            <div>
                <!-- 'contents' 속성 값을 수정 -->
                <label for="contents">내용</label><br>
                <textarea name="qna-contents" id="contents" cols="30" rows="10"></textarea>
            </div>
            <div id="button">
            <button type="button" onclick="qnaPost()">글싸기</button>
            <button type="button" onclick="location.href='/boards/qna'">목록으로</button>
        </div>
        </form>

    </div>

    <script>
        const title = document.querySelector("#title");
        const contents = document.querySelector("#contents");
        const form = document.forms["#boardForm"]
        const token = window.localStorage.getItem("token");
        async function qnaPost() {
                console.log(token);
                if (!token) {
                    alert("로그인 해주세요.");
                    return;
                }
                console.log(title.value)
                if (!title.value) {
                    alert("제목을 입력해주세요.");
                    return;
                }

                if(!contents.value) {
                    alert("내용을 입력해주세요.");
                    return;
                }
                const data={
                    title:title.value,
                    contents:contents.value,
                    token: token,
                }
                try {
                const res = await axios({
                method:"POST",
                url:"/boards/qna",
                data
                })
                console.log(res.data.result.userid);
                if(res.data.data){
                    alert('글작성 완료!')
                    document.location.href='/boards/qna';
                }
                } catch (error) {
                    console.log(error);
                }

        }
        
    </script>
</body>

</html>
