<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>질문 등록하기</h1>
    <div>
        <div>
            <label for="qna-title">제목</label>
            <input type="text" name="" id="qna-title">
        </div>
        <div>
            <label for="qna-writer">작성자</label>
            <input type="text" name="" id="qna-writer">
        </div>
        <div>
            <label for="qna-contents">내용</label>
            <textarea name="" id="qna-contents" cols="30" rows="10"></textarea>
        </div>
    </div>
</body>
</html>